<%- include('header') -%>

<div class="box" id="heading">
    <h1>About</h1>
</div>

<div class="box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt culpa suscipit, consequuntur ducimus alias nostrum! Culpa, suscipit! Dicta suscipit in reprehenderit minus itaque quo numquam, laborum nihil porro expedita reiciendis.</p>
</div>


<%- include('footer') -%>